<div class=""container>
  <ng-container *ngIf="wishlists.length !=0">
    <div class="container my-5">
      <div class="card-table">
        <div class="cart-product">
          <table class="content-table">
            <thead>
              <tr>
                <th>Product image</th>
                <th>Product Id</th>
                <th style="width: 15%;">Product Name</th>
                <th style="width: 30%;">Description</th>
                <th style="width: 12%;">Price</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let wishlist of wishlists">
                <td><img style="width: 130px;height: 80px;border-radius: 8px;" src="assets/images/{{wishlist.product.url}}" alt=""></td>
                <td>{{wishlist.product.id}}</td>
                <td>{{wishlist.product.productName}}</td>
                <td>{{wishlist.product.productDescription}}</td>
                <td >{{wishlist.product.productPrice }}</td>
                <td>
                  <button mat-raised-button color="warn" (click)="deleteWishlist(wishlist.id)">
                    <mat-icon>delete_outline</mat-icon>
                  </button>

                </td>
              </tr>

            </tbody>
          </table>
          <div class="d-flex justify-content-end" style="width: 90%; margin: auto;">
            <button mat-raised-button class="mt-3" color="primary" routerLink="/home/1">Add More</button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>


  <ng-container *ngIf="wishlists.length ==0">
    <div class="container">
      <div class="card">
        <h5 class="card-title">My Wishlist</h5>
      </div>
      <div class="centre">
        <img src="assets/wishlist.jpg" alt="">
        <h4>Your Wishlist is empty !</h4>

        <button routerLink="/home/1" class="btn btn-primary">Add Items Now</button>
      </div>
    </div>
  </ng-container>
</div>