
<h2 mat-dialog-title>Add Product details</h2>
<div mat-dialog-content>
    <form [formGroup]="productForm" class="my-3">
       
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Enter product name" formControlName="productName" 
                    [class.is-valid]="!productForm.controls['productName'].hasError('required')">
                    <small class="text-danger" *ngIf="productForm.controls['productName'].hasError('required')">
                        product name is <strong>required</strong>
                    </small>
                  </div>
                  <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Enter product description" formControlName="productDescription"
                    [class.is-valid]="!productForm.controls['productDescription'].hasError('required')">
                    <small class="text-danger" *ngIf="productForm.controls['productDescription'].hasError('required')">
                        product description is <strong>required</strong>
                    </small>
                  </div>
                  <div class="mb-3">
                    <input class="form-control" placeholder="Enter product price" formControlName="productPrice"
                    [class.is-valid]="!productForm.controls['productPrice'].hasError('required')">
                    <small class="text-danger" *ngIf="productForm.controls['productPrice'].hasError('required')">
                        product price is <strong>required</strong>
                    </small>
                  </div>
                  <div class="mb-3">
                    <input class="form-control" placeholder="Enter product stock" formControlName="productStock"
                    [class.is-valid]="!productForm.controls['productStock'].hasError('required')">
                    <small class="text-danger" *ngIf="productForm.controls['productStock'].hasError('required')">
                        product stock is <strong>required</strong>
                    </small>
                  </div>
                  <div class="mb-3">
                    <select class="form-select" name="category" aria-label="Default select example" formControlName="category" 
                    [class.is-valid]="!productForm.controls['category'].hasError('required')">                      
                        <option value="DECOR">DECOR</option>
                        <option value="DINING">DINING</option>
                        <option value="FURNISH">FURNISH</option>
                        <option value="GARDEN">GARDEN</option>
                        <option value="LIGHTS">LIGHTS</option>
                        <option value="STORAGE">STORAGE</option>
                        </select>
                        <small class="text-danger" *ngIf="productForm.controls['category'].hasError('required')">
                            product category is <strong>required</strong>
                        </small>
                  </div>
                  <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Enter product url" formControlName="url" 
                    [class.is-valid]="!productForm.controls['url'].hasError('required')">
                    <small class="text-danger" *ngIf="productForm.controls['url'].hasError('required')">
                        product url is <strong>required</strong>
                    </small>
                  </div>

                <!-- <mat-form-field appearance="outline">
                    <mat-label aria-label>Enter product name</mat-label>
                    <input type="text" matInput formControlName="productName">
                    <mat-error *ngIf="productForm.controls['productName'].hasError('required')">
                        product name is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            
                <mat-form-field appearance="outline">
                    <mat-label aria-label>Enter product description</mat-label>
                    <input type="text" matInput formControlName="productDescription">
                    <mat-error *ngIf="productForm.controls['productDescription'].hasError('required')">
                        product description is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
           
        <div class="row">
            <div class="col">
                <mat-form-field appearance="outline">
                    <mat-label aria-label>Enter product price</mat-label>
                    <input type="number" matInput formControlName="productPrice">
                    <mat-error *ngIf="productForm.controls['productPrice'].hasError('required')">
                        product price is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="outline">
                    <mat-label aria-label>Enter product stock</mat-label>
                    <input type="number" matInput formControlName="productStock">
                    <mat-error *ngIf="productForm.controls['productStock'].hasError('required')">
                        product stock is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </div> 
        <div class="row">
            <div class="col">
                <mat-form-field appearance="outline">
                    <select name="category" id="category" formControlName="category">
                        <option value="DECOR">DECOR</option>
                        <option value="DINING">DINING</option>
                        <option value="FURNISH">FURNISH</option>
                        <option value="GARDEN">GARDEN</option>
                        <option value="LIGHTS">LIGHTS</option>
                        <option value="STORAGE">STORAGE</option>
                        </select>
                        <mat-error *ngIf="productForm.controls['category'].hasError('required')">
                            product category is <strong>required</strong>
                        </mat-error>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="outline">
                    <mat-label aria-label>Enter product image url</mat-label>
                    <input type="text" matInput formControlName="url">
                    <mat-error *ngIf="productForm.controls['url'].hasError('required')">
                        product url is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>              -->
    </form>
</div>
<div mat-dialog-action [align]="'end'" class="mt-3">
    <button mat-raised-button color="primary" class="me-3" (click)="addProduct()">{{actionBtn}}</button>
    <button mat-raised-button mat-dialog-close color="warn" >cancel</button>
</div>