/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-menu-panel {
    margin-top: 19px;
    margin-right: -8px;
}

.mat-sort-header-container {
    justify-content: center;
}

.mat-sort-header-content {
    margin-left: 15px;
}